body{
	background:#eaeaea;
	margin: 0;
	padding: 0;
	background-size: cover;
}

.container {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #111;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
	border-radius: 14px;
	width: 50%;
	height: 400px;
}
.container h1 {
	float:left;
	font-size:30px;
	border-bottom:6px solid #000;
	margin-bottom:50px;
	border-bottom-color:hsla(205,78%,57%,1.00);
	color:white;
	margin-left:100px;
	
}
.text-box{
	width:70%;
	overflow:hidden;
	font-size:20px;
	padding:8px 0;
	margin:8px 0;
	border-bottom:2px solid #000;
	border-bottom-color:white;
	margin-left:auto;
	margin-right:auto;
}
.text-box i {
	width:26px;
	float:left;
	text-align:left;
	color: white;
}
.text-box input{
	border:none;
	outline:none;
	background:none;
	color:white;
	font-size:18px;
	width:80%;
	float:left;
	margin:0 10px;
}
